fastapi
uvicorn[standard]
sqlalchemy
aiosqlite
alembic
python-jose[cryptography]
passlib[bcrypt]

python-multipart
pydantic
pydantic-settings
scikit-learn
xgboost
shap
lime
pandas
numpy
matplotlib
reportlab
qrcode[pil]
gTTS
pillow
openpyxl
PyMuPDF
pytesseract
python-dotenv
deep-translator
httpx
email-validator
joblib
slowapi
